@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1e3hfu');
  src:  url('../fonts/icomoon.eot?1e3hfu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1e3hfu') format('truetype'),
    url('../fonts/icomoon.woff?1e3hfu') format('woff'),
    url('../fonts/icomoon.svg?1e3hfu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skin:before {
  content: "\e979";
}
.icon-integral:before {
  content: "\e977";
}
.icon-gift:before {
  content: "\e978";
}
.icon-similar:before {
  content: "\e976";
}
.icon-wallet:before {
  content: "\e975";
}
.icon-bag:before {
  content: "\e972";
}
.icon-location-2:before {
  content: "\e973";
}
.icon-rmb:before {
  content: "\e974";
}
.icon-jd:before {
  content: "\e971";
}
.icon-hammer:before {
  content: "\e96e";
}
.icon-add:before {
  content: "\e96f";
}
.icon-update:before {
  content: "\e970";
}
.icon-right-s:before {
  content: "\e96c";
}
.icon-left-s:before {
  content: "\e96d";
}
.icon-sort-s:before {
  content: "\e96a";
}
.icon-filter-s:before {
  content: "\e96b";
}
.icon-search:before {
  content: "\e969";
}
.icon-up-s:before {
  content: "\e968";
}
.icon-favor-s:before {
  content: "\e967";
}
.icon-wgs:before {
  content: "\e963";
}
.icon-bar-s:before {
  content: "\e965";
}
.icon-transfer-s:before {
  content: "\e964";
}
.icon-down-s:before {
  content: "\e966";
}
.icon-circle:before {
  content: "\e962";
}
.icon-cancel:before {
  content: "\e960";
}
.icon-flag-2:before {
  content: "\e961";
}
.icon-report-2:before {
  content: "\e95e";
}
.icon-app:before {
  content: "\e95f";
}
.icon-?:before {
  content: "\e95b";
}
.icon-api:before {
  content: "\e95c";
}
.icon-wegene-2:before {
  content: "\e95d";
}
.icon-family:before {
  content: "\e95a";
}
.icon-camera:before {
  content: "\e959";
}
.icon-pk:before {
  content: "\e958";
}
.icon-news:before {
  content: "\e957";
}
.icon-female:before {
  content: "\e955";
}
.icon-male:before {
  content: "\e956";
}
.icon-a-central_asian:before {
  content: "\e951";
}
.icon-a-oceanian:before {
  content: "\e952";
}
.icon-b-central_asian:before {
  content: "\e953";
}
.icon-b-oceanian:before {
  content: "\e954";
}
.icon-b-south_asian:before {
  content: "\e935";
}
.icon-a-south_asian:before {
  content: "\e93a";
}
.icon-a-middle_eastern:before {
  content: "\e94b";
}
.icon-a-ne_asian:before {
  content: "\e94c";
}
.icon-a-kyrgyz:before {
  content: "\e94d";
}
.icon-a-tibetan:before {
  content: "\e94e";
}
.icon-a-uzbek:before {
  content: "\e94f";
}
.icon-b-middle_eastern:before {
  content: "\e950";
}
.icon-a-african:before {
  content: "\e948";
}
.icon-b-african:before {
  content: "\e941";
}
.icon-b-american:before {
  content: "\e942";
}
.icon-b-chinese_nation:before {
  content: "\e943";
}
.icon-b-else_asia:before {
  content: "\e944";
}
.icon-b-european:before {
  content: "\e945";
}
.icon-b-ne_asian:before {
  content: "\e946";
}
.icon-b-se_asian:before {
  content: "\e947";
}
.icon-a-american:before {
  content: "\e940";
}
.icon-eye:before {
  content: "\e91a";
}
.icon-weibo-2:before {
  content: "\e909";
}
.icon-facebook-2:before {
  content: "\e911";
}
.icon-gene-2:before {
  content: "\e949";
}
.icon-research-4:before {
  content: "\e94a";
}
.icon-redbag:before {
  content: "\e93f";
}
.icon-man-2:before {
  content: "\e93e";
}
.icon-down-2:before {
  content: "\e93b";
}
.icon-right-2:before {
  content: "\e93c";
}
.icon-up-2:before {
  content: "\e93d";
}
.icon-ad-sport:before {
  content: "\e928";
}
.icon-community:before {
  content: "\e934";
}
.icon-relation:before {
  content: "\e936";
}
.icon-research-2:before {
  content: "\e937";
}
.icon-research-3:before {
  content: "\e938";
}
.icon-wechat-2:before {
  content: "\e939";
}
.icon-bean:before {
  content: "\e92c";
}
.icon-cake2:before {
  content: "\e92d";
}
.icon-calendar:before {
  content: "\e92e";
}
.icon-egg:before {
  content: "\e92f";
}
.icon-muscle:before {
  content: "\e930";
}
.icon-rice:before {
  content: "\e931";
  color: #000;
}
.icon-time:before {
  content: "\e932";
}
.icon-water:before {
  content: "\e933";
  color: #000;
}
.icon-batch:before {
  content: "\e927";
}
.icon-plate:before {
  content: "\e929";
}
.icon-probe:before {
  content: "\e92a";
}
.icon-sample:before {
  content: "\e92b";
}
.icon-sleep:before {
  content: "\e926";
}
.icon-hot:before {
  content: "\e924";
  color: #f7634f;
}
.icon-new:before {
  content: "\e925";
  color: #4fb1f7;
}
.icon-research:before {
  content: "\e91c";
}
.icon-ancestry:before {
  content: "\e923";
}
.icon-tubes:before {
  content: "\e922";
}
.icon-flask:before {
  content: "\e91f";
}
.icon-lab:before {
  content: "\e920";
}
.icon-overview:before {
  content: "\e921";
}
.icon-flag-down:before {
  content: "\e91d";
}
.icon-flag-right:before {
  content: "\e91e";
}
.icon-tree:before {
  content: "\e917";
}
.icon-food:before {
  content: "\e600";
}
.icon-home:before {
  content: "\e601";
}
.icon-list:before {
  content: "\e602";
}
.icon-ask:before {
  content: "\e603";
}
.icon-more:before {
  content: "\e605";
}
.icon-agree:before {
  content: "\e606";
}
.icon-disagree:before {
  content: "\e607";
}
.icon-reply:before {
  content: "\e608";
}
.icon-draft:before {
  content: "\e609";
}
.icon-check:before {
  content: "\e60a";
}
.icon-invite:before {
  content: "\e60b";
}
.icon-inviteask:before {
  content: "\e60c";
}
.icon-loading:before {
  content: "\e60d";
}
.icon-share:before {
  content: "\e60e";
}
.icon-comment:before {
  content: "\e60f";
}
.icon-gene:before {
  content: "\e610";
}
.icon-pic:before {
  content: "\e611";
}
.icon-insert:before {
  content: "\e612";
}
.icon-user:before {
  content: "\e613";
}
.icon-inbox:before {
  content: "\e614";
}
.icon-setting:before {
  content: "\e615";
}
.icon-logout:before {
  content: "\e616";
}
.icon-login:before {
  content: "\e617";
}
.icon-weibo:before {
  content: "\e618";
}
.icon-qq:before {
  content: "\e619";
}
.icon-signup:before {
  content: "\e61a";
}
.icon-users:before {
  content: "\e61b";
}
.icon-topic:before {
  content: "\e61c";
}
.icon-location:before {
  content: "\e61d";
}
.icon-job:before {
  content: "\e61e";
}
.icon-favor:before {
  content: "\e620";
}
.icon-down:before {
  content: "\e621";
}
.icon-txweibo:before {
  content: "\e622";
}
.icon-bestbg:before {
  content: "\e623";
}
.icon-best:before {
  content: "\e624";
}
.icon-flag:before {
  content: "\e625";
}
.icon-i:before {
  content: "\e626";
}
.icon-bubble:before {
  content: "\e627";
}
.icon-wechat:before {
  content: "\e628";
}
.icon-lock:before {
  content: "\e629";
}
.icon-triangle:before {
  content: "\e62a";
}
.icon-bell:before {
  content: "\e62b";
}
.icon-fold:before {
  content: "\e62c";
}
.icon-thank:before {
  content: "\e62d";
}
.icon-report:before {
  content: "\e62e";
}
.icon-qzone:before {
  content: "\e62f";
}
.icon-at:before {
  content: "\e630";
}
.icon-attach:before {
  content: "\e631";
}
.icon-trash:before {
  content: "\e632";
}
.icon-mytopic:before {
  content: "\e633";
}
.icon-up:before {
  content: "\e634";
}
.icon-plus:before {
  content: "\e635";
}
.icon-followed:before {
  content: "\e636";
}
.icon-score:before {
  content: "\e637";
}
.icon-prestige:before {
  content: "\e638";
}
.icon-v:before {
  content: "\e639";
}
.icon-bold:before {
  content: "\e63a";
}
.icon-italic:before {
  content: "\e63b";
}
.icon-underline:before {
  content: "\e63c";
}
.icon-ul:before {
  content: "\e63d";
}
.icon-ol:before {
  content: "\e63e";
}
.icon-image:before {
  content: "\e63f";
}
.icon-video:before {
  content: "\e640";
}
.icon-quote:before {
  content: "\e641";
}
.icon-code:before {
  content: "\e642";
}
.icon-preview:before {
  content: "\e643";
}
.icon-help:before {
  content: "\e644";
}
.icon-h:before {
  content: "\e645";
}
.icon-undo:before {
  content: "\e646";
}
.icon-redo:before {
  content: "\e647";
}
.icon-phone:before {
  content: "\e648";
}
.icon-file:before {
  content: "\e649";
}
.icon-verify:before {
  content: "\e64a";
}
.icon-date:before {
  content: "\e64b";
}
.icon-log:before {
  content: "\e64c";
}
.icon-forbid:before {
  content: "\e64d";
}
.icon-transfer:before {
  content: "\e64e";
}
.icon-reader:before {
  content: "\e64f";
}
.icon-unlock:before {
  content: "\e650";
}
.icon-right:before {
  content: "\e651";
}
.icon-left:before {
  content: "\e652";
}
.icon-bar:before {
  content: "\e653";
}
.icon-download:before {
  content: "\e654";
}
.icon-bulb:before {
  content: "\e655";
}
.icon-cart:before {
  content: "\e656";
}
.icon-google:before {
  content: "\e657";
}
.icon-facebook:before {
  content: "\e658";
}
.icon-twitter:before {
  content: "\e659";
}
.icon-count:before {
  content: "\e65a";
}
.icon-order:before {
  content: "\e65b";
}
.icon-edit:before {
  content: "\e65c";
}
.icon-full:before {
  content: "\e65d";
}
.icon-strike:before {
  content: "\e65e";
}
.icon-format:before {
  content: "\e65f";
}
.icon-good:before {
  content: "\e660";
}
.icon-bad:before {
  content: "\e661";
}
.icon-23:before {
  content: "\e662";
}
.icon-hear:before {
  content: "\e663";
}
.icon-ear:before {
  content: "\e664";
}
.icon-run:before {
  content: "\e665";
}
.icon-drugs:before {
  content: "\e666";
}
.icon-wegene:before {
  content: "\e667";
}
.icon-contact:before {
  content: "\e668";
}
.icon-about:before {
  content: "\e669";
}
.icon-protect:before {
  content: "\e66a";
}
.icon-activity:before {
  content: "\e66b";
}
.icon-man:before {
  content: "\e66c";
}
.icon-delete:before {
  content: "\e66e";
}
.icon-road:before {
  content: "\e66f";
}
.icon-walk:before {
  content: "\e670";
}
.icon-climbing:before {
  content: "\e671";
}
.icon-lifting:before {
  content: "\e672";
}
.icon-track:before {
  content: "\e673";
}
.icon-tip:before {
  content: "\e674";
}
.icon-milk:before {
  content: "\e675";
}
.icon-chicken:before {
  content: "\e676";
}
.icon-cake:before {
  content: "\e677";
}
.icon-palm:before {
  content: "\e678";
}
.icon-fish:before {
  content: "\e679";
}
.icon-pea:before {
  content: "\e67a";
}
.icon-next:before {
  content: "\e67b";
}
.icon-tomato:before {
  content: "\e67c";
}
.icon-mashroom:before {
  content: "\e67d";
}
.icon-shop:before {
  content: "\e67e";
}
.icon-link:before {
  content: "\e67f";
}
.icon-cuvette:before {
  content: "\e680";
}
.icon-box:before {
  content: "\e681";
}
.icon-result:before {
  content: "\e682";
}
.icon-watch:before {
  content: "\e683";
}
.icon-service:before {
  content: "\e684";
}
.icon-finger:before {
  content: "\e685";
}
.icon-beat:before {
  content: "\e688";
}
.icon-monkey:before {
  content: "\e689";
}
.icon-drug:before {
  content: "\e68a";
}
.icon-absorb:before {
  content: "\e68b";
}
.icon-bind:before {
  content: "\e800";
}
.icon-cup:before {
  content: "\e900";
}
.icon-a-lahu:before {
  content: "\e901";
}
.icon-a-uygur:before {
  content: "\e902";
}
.icon-a-dai:before {
  content: "\e903";
}
.icon-a-daur:before {
  content: "\e904";
}
.icon-a-gaoshan:before {
  content: "\e905";
}
.icon-a-han_northern:before {
  content: "\e906";
}
.icon-a-han_southern:before {
  content: "\e907";
}
.icon-a-hezhen:before {
  content: "\e908";
}
.icon-a-miao_yao:before {
  content: "\e90a";
}
.icon-a-mongola:before {
  content: "\e90b";
}
.icon-a-naxi:before {
  content: "\e90c";
}
.icon-a-oroqen:before {
  content: "\e90d";
}
.icon-a-she:before {
  content: "\e90e";
}
.icon-a-tu:before {
  content: "\e90f";
}
.icon-a-tujia:before {
  content: "\e910";
}
.icon-a-xibo:before {
  content: "\e912";
}
.icon-a-yi:before {
  content: "\e913";
}
.icon-a-tungus:before {
  content: "\e914";
}
.icon-a-ny:before {
  content: "\e915";
}
.icon-upward:before {
  content: "\e916";
}
.icon-a-european:before {
  content: "\e918";
}
.icon-a-else_asia:before {
  content: "\e919";
}
.icon-a-se_asian:before {
  content: "\e91b";
}
