body, ul ,p{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6 {margin: 0;font-weight: 500;}
body {font-size: 0;}
a {cursor: pointer; font-size: 14px;}
a:hover {text-decoration: none;}

h1, h1 a {font-size: 34px;}
h2, h2 a {font-size: 28px;}
h3, h3 a {font-size: 24px;}
h4, h4 a {font-size: 18px;}
h5, h5 a {font-size: 16px;}
p, button {font-size: 14px;}
p, span, small {font-weight: 300;color: #757575;}
button {background-color: #fff;border-radius: 4px;}
label {margin: 0;}
ul, ol {list-style: none;}
div {box-sizing: border-box;}
dl, ol, ul {margin: 0;}
span {color: #757575;font-size: 14px;}
input, button, select, textarea, a, li {line-height: 20px;outline:none !important;}
.form-control::placeholder {font-size: 14px;font-weight: 300;color: #999;}
.row {margin-left: -15px;margin-right: -15px;}
.dot:before {padding: 0 2px; content: '·'}
.cur-price {display: inline-block;margin-top: 5px;color: #ED1C24;font-size: 14px;font-weight: 400;}
.origin-price {font-size: 12px;}
.divider {border-top: 1px solid #eee;margin: 10px 0;}
.fixed-tools {position: fixed;bottom: 40px;right: 40px;}
.fixed-tools #backtop {display: block;width: 36px;padding: 10px;line-height:17px;border: 1px solid #eee;font-size: 14px;color: #999;}
.fixed-tools a:hover {background-color: rgba(0,0,0,.1);}
.hiddenScroll{overflow:hidden;}
/* common */
.container {width: 1140px;margin: 0 auto;}
.pull-left {float: left !important;}
.pull-right {float: right !important;}
.text-center {text-align: center !important;}
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.clearfix {display: hidden;}
.hide {display: none !important;}
.show {display: block !important;}
.margin-top-5 {margin-top: 5px !important;}
.margin-top-10 {margin-top: 10px !important;}
.margin-top-15 {margin-top: 15px !important;}
.margin-top-20 {margin-top: 20px !important;}
.margin-top-25 {margin-top: 25px !important;}
.margin-top-30 {margin-top: 30px !important;}
.margin-bottom-5 {margin-bottom: 5px !important;}
.margin-bottom-10 {margin-bottom: 10px !important;}
.margin-bottom-15 {margin-bottom: 15px !important;}
.margin-bottom-20 {margin-bottom: 20px !important;}
.margin-bottom-25 {margin-bottom: 25px !important;}
.margin-bottom-30 {margin-bottom: 30px !important;}
.margin-right-5 {margin-right: 5px !important;}
.margin-right-10 {margin-right: 10px !important;}
.margin-right-15 {margin-right: 15px !important;}
.margin-right-20 {margin-right: 20px !important;}
.margin-right-25 {margin-right: 25px !important;}
.margin-right-30 {margin-right: 30px !important;}
.margin-left-5 {margin-left: 5px !important;}
.margin-left-10 {margin-left: 10px !important;}
.margin-left-15 {margin-left: 15px !important;}
.margin-left-20 {margin-left: 20px !important;}
.margin-left-25 {margin-left: 25px !important;}
.margin-left-30 {margin-left: 30px !important;}
.ellipsis {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.margin-right-2 {margin-right: 2px;}
.btn {border: 1px solid #ccc;font-size: 14px;}
/*.btn:hover {background-color: rgba(0,0,0,.1); }*/
.btn-success {border-color: #4cae4c;background-color: #5cb85c;}
.btn-success:hover {background-color: #449d44; border-color: #398439;}
.btn-success.active {background-color: #449d44;border-color: #398439;}
.btn-success span {color: #fff;}
/*.btn-dander:hover {background-color: #449d44;border-color: #398439;}*/
/*.btn-dander.active {background-color: #449d44;border-color: #398439;}*/
.btn-danger span {color: #fff;}
.btn-green {background-color: #009a61 !important;border-color: #008151;}
.btn-green span {color: #fff;}
.btn-green:hover {background-color: #006741 !important;}
.btn-block {display: block;width: 100%;}
.padding-rl-0 {padding-left: 0px !important;padding-right: 0px !important;}
/* color */
.color-fff {color: #fff !important;}
.color-org {color: #F5A623 !important;}
.color-red {color: #ED1C24 !important;}
.color-green {color: #009a61 !important;}

/* icon */
[class*="icon-sn-"] {height: 28px;width: 28px;background: url('../img/icon-sn.svg')no-repeat;}
.icon-sn-weixin {background-position: -252px -28px;}
.icon-sn-google {background-position: 0px -28px;}
.icon-sn-github {background-position: -28px -28px;}
.icon-sn-weibo {background-position: -56px -28px;}
.icon-sn-qq {background-position: -84px -28px;}
.icon-sn-linkedin {background-position: -336px -28px;}
.icon-sn-dotted {background-position: -280px -28px;}
.icon-sn-twitter {background-position: -112px -28px;}
.icon-sn-facebook {background-position: -140px -28px;}
.icon-sn-douban {background-position: -224px -28px;}
.icon-sn-renren {background-position: -168px -28px;}
.icon-sn-qqweixin {background-position: -196px -28px;}
.icon-sn-qiu {background-position: -308px -28px;}
.icon-sn-more {background-position: -280px -28px;}

.icon-good.active {color: #009a61;}
.logo-b {height: 64px;width: 150px;background: url(../img/logo-b.svg)no-repeat;background-position: 0px 19px; background-size: auto 27px;}
.logo-m {position: relative;bottom: 25px;left: 15px;height: 64px;width: 130px;background: url(../img/logo-m.png)no-repeat;background-size: auto 32px;}
.icon-bg {display: inline-block;height: 14px;width: 14px;margin-top: 3px;border-radius: 50%;background: #009A61;text-align: center;cursor: pointer;}
.icon-bg .icon {color: #fff;vertical-align: 0px;}
.icon {display: inline-block;vertical-align: -1px;color: #757575;}
/* header */
.sf-header {background: #fafafa; border-top: 3px solid #009a61;box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.1);}
.sf-header .container {height: 64px;}
.sf-header .sf-logo {width: 150px; height: 64px;}
.sf-header .sf-logo:hover .logo-m{display: block;}
.sf-header .menu {margin: 0 0 0 20px;}
.sf-header .menu .menu-item {float: left;line-height: 65px;margin-right: 2px;font-size: 14px;}
.sf-header .menu .menu-item > a {display: inline-block;line-height: 34px;padding: 0 12px;color: #757575;border-radius: 5px;font-weight: 4menu00;font-size: 16px;}
.sf-header .menu .menu-item > a:hover {background: #F3F3F3;}
.sf-header .menu .menu-item > a.active {color: #009a61;}

/* footer */
.sf-footer {padding: 40px 0 50px;border-top: 1px solid #eee;}
.sf-footer .col-sm-2 li {line-height: 17px;}
.sf-footer .col-sm-2 a span {text-decoration-color: #757575;color: #888;font-size: 13px;}
.sf-footer .col-sm-2 a:hover span{text-decoration: underline;}
.sf-footer .col-sm-2 {position: relative;margin-bottom: 40px;}
.sf-footer .col-sm-2 b {display: inline-block;margin-bottom: 20px;font-size: 14px;}
.sf-footer .icon {font-size: 20px;}
.sf-footer .app-2wm {width: 64px;margin: 5px 0;}
.sf-footer .copyright {font-size: 13px;color: #757575;}
.sf-footer .copyright p {font-size: 13px;}
.sf-footer .copyright a {font-size: 13px;}
.sf-footer .copyright span {font-size: 13px;}
.sf-footer .icon-wechat-2 {position: relative;}
.sf-footer .icon-wechat-2:hover {color: #009a61;}
.sf-popover {position: absolute;top: 15px; left: -28px;}
.sf-popover-box {position: relative;dispaly: block;padding: 10px;background-color: #fff;border: 1px solid #666;border-radius: 5px;box-shadow: 0 5px 8px 3px rgba(0,0,0,.1);}
.sf-popover-box img {width: 88px;height: 88px;}
.sf-popover-box p {font-size: 13px;}
.sf-popover-triangle {
	position: absolute;
	bottom: -20px;
	left: 44px;
	width: 0;height: 0;
	margin-top: -1px;
	border-top: 10px solid #fff;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid transparent;

}
.sf-popover-triangle-border {
	position: absolute;
	bottom: -22px;
	left: 43px;
	width: 0;height: 0;
	border-top: 11px solid #666;
	border-left: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 11px solid transparent;
	z-index: -1;
}
/* dropdown */
.sf-header .menu .menu-item.menu-item-more {position: relative;}
.sf-header .menu .menu-item.menu-item-more .dropdown-block {position: absolute;width: auto;top: 55px;left: 0;line-height: 20px;border-radius: 10px;border: 1px solid #eee;background-color: #fff; z-index: 10;overflow: hidden;}
.dropdown-content-menu ul {float: left;min-width: 120px;padding: 5px 0;background-color:#fafafa;}
.dropdown-content-menu li a {display: block;padding: 6px 13px;font-size: 16px;color: #757575;}
.dropdown-content-menu li a:hover {color: #009a61;background: rgba(0,0,0,.1);}
.dropdown-content-recommend {position: relative;width: 300px;height: 298px;border-left: 1px solid #eee;margin-left: 120px;padding: 20px;}
.dropdown-content-recommend .recommend-item {margin-bottom: 10px;}
.dropdown-content-recommend .recommend-item:last-child {border: none;}
.dropdown-content-recommend .recommend-item a {color: #009A61;}
.dropdown-content-recommend .recommend-item span {font-size: 12px;}
.dropdown-content-recommend .recommend-more {position: absolute;width: 100%;bottom: 15px;left: 0;}
.dropdown-content-recommend .recommend-more a {font-size: 12px;color: #757575;}
.sf-header .user {position: relative;}
.sf-header .dropdown-user-menu {position: absolute;min-width: 240px;padding: 5px 0;top: 50px;right: 15px;border: 1px solid #eee;border-radius: 5px;background-color: #fff;z-index: 10;}
.sf-header .dropdown-user-menu .menu-score {padding: 15px 20px;margin-bottom: 5px;border-bottom: 1px solid #eee;}
.sf-header .dropdown-user-menu .menu-score .score {margin-left: 10px;margin-right: 20px;color: #212121;font-weight: bold;}
.sf-header .dropdown-user-menu .menu-score .badge-count {margin-right: 5px;}
.sf-header .dropdown-user-menu .menu-score .badge .icon {font-size: 12px;margin-right: 5px;vertical-align: -1px;}
.sf-header .dropdown-user-menu .menu-list a {display: block;width: 100%;padding: 3px 20px;color: #212121;}
.sf-header .dropdown-user-menu .menu-list a:hover {background: #f5f5f5;}
.sf-header .dropdown-user-menu .container-fluid {margin-bottom: 5px;}
.sf-header .dropdown-user-menu .menu-footer {padding: 15px 0 5px 20px;border-top: 1px solid #eee;}
.sf-header .dropdown-user-menu .menu-footer a {color: #999;font-size: 12px;}
.sf-header .opts-item-message {position: relative;}
.sf-header .opts-item-message .dropdown-message {position: absolute;top: 40px;right: 0;z-index: 6;}
.sf-header .opts-item-mail {position: relative;}
.sf-header .opts-item-mail .dropdown-mail {position: absolute;top: 40px;right: 0;z-index: 3;}
.sf-header .dropdown-panel-box {width: 320px;border: 1px solid #eee;border-radius: 5px;background-color: #fff;}
.sf-header .dropdown-panel-head {height: 40px;border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;}
.sf-header .dropdown-panel-content {height: 270px;}
.sf-header .dropdown-panel-content ul {width: 320px;height: 270px;overflow-y: scroll;}
.sf-header .dropdown-mail .tabs-nav {padding: 0 10px;}
.sf-header .dropdown-mail .tabs-nav > li {float: left;line-height: 40px;}
.sf-header .dropdown-mail .tabs-nav.nav-mail span {color: #666;}
.sf-header .dropdown-mail .dropdown-panel-content ul > li {padding: 8px 15px;border-bottom: 1px solid #eee;}
.sf-header .dropdown-mail .dropdown-panel-content ul > li .mail-img {float: left;width: 32px;height: 32px;border-radius: 50%;}
.sf-header .dropdown-mail .dropdown-panel-content ul > li .mail-info {margin-left: 47px;}
.sf-header .dropdown-mail .dropdown-panel-content ul > li .mail-info span.ellipsis {display: inline-block;width: 240px;font-size: 13px;}
.sf-header .dropdown-panel-footer {padding: 10px;border-top: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;}
.sf-header .dropdown-panel-footer a {line-height: 0px;}
.sf-header .dropdown-panel-footer span {line-height: 13px;font-size: 13px;}
.sf-header .dropdown-message .tabs-nav > li {display: inline-block;width: 25%;text-align: center;}
.sf-header .dropdown-message .tabs-nav > li a {display: block;height: 40px;padding: 10px;border-bottom: 2px solid #f5f5f5;}
.sf-header .dropdown-message .tabs-nav > li a:hover {border-color: #009a61;}
.sf-header .dropdown-message .tabs-nav > li.active a {border-color: #009a61;}
.sf-header .dropdown-message .tab-pane {display: none;}
.sf-header .dropdown-message .tab-pane.active {display: block;}
.sf-header .dropdown-message .tab-pane ul li {padding: 15px 8px;border-bottom: 1px solid #f5f5f5;background-color: #fcf8e3;}
.sf-header .dropdown-message .tab-pane ul li a {font-size: 13px;color: #009a61;font-weight: 300;}
.sf-header .dropdown-message .tab-pane ul li span {font-size: 13px;}






.opts .btn-grunp .dropdown-menu {min-width: 118px;z-index: 2;}
.opts .btn-grunp .dropdown-menu {display: block;top: 50px;left: 60px;}
.opts .btn-grunp .dropdown-menu a span{display: block;width: 118px;padding: 2px 15px;color: #000;font-size: 15px;}
.opts .btn-grunp .dropdown-menu a span:hover {background: rgba(0,0,0,.1);}

.sf-header .header-search {position: absolute;top: 0;right: 15px;width: 265px;margin-top: 15px;}
.sf-header .header-search input {float: right;width: 100%;box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;}
.sf-header .header-search .form-control {padding: 6px 12px;line-height: 20px;font-size: 14px;}
.sf-header .header-search .form-control::placeholder {color: #999;}
.sf-header .header-search .btn {position: absolute;top: 1px;right: 1px;}
.sf-header .header-search .btn:hover {background-color: #fff;}
.sf-header .header-search .btn-link {line-height: 20px;color: #757575;border: none;}
.sf-header .header-search .btn-link .icon {vertical-align: 0px;}
.sf-header .opts .opts-item .user {display: inline-block;padding: 0;height: 34px;width: 34px;margin-left: 10px;border-radius: 50%;overflow: hidden;vertical-align: middle;}
.sf-header .opts .opts-item .user img {vertical-align: -1px;}
.sf-header .opts {margin-top: 15px;}
.sf-header .opts .opts-item {float: left;}
.sf-header .opts .opts-item .icon {font-size: 20px;vertical-align: -2px;}
.sf-header .opts .opts-item > a {display: inline-block;line-height: 34px;padding: 0 12px;color: #757575;}
.sf-header .opts .opts-item > a:hover {background: #F3F3F3;}
.sf-header .opts .opts-item > a.active {color: #009a61;}
.sf-header .opts .opts-item button {border-radius: 5px;margin-right: 10px;background: #fff;font-size: 14px;}
.sf-header .opts .opts-item button:hover {border-color: #adadad;background-color: #e6e6e6;cursor: pointer;}
.sf-header .opts .opts-item .dropdown-toggle {height: 34px;padding: 0 12px;border: 1px solid #ccc;box-shadow: 0 1px 1px rgba(0,0,0,0.05)}


/* main */
/* left */
.sf-main {margin-top: 30px;}
.left .router-box-item > .icon {margin-right: 10px;}
.left .router-box-item.active > .icon,.left .tech-square-item.active > .icon {margin-right: 10px;color: #fff;}
.left .router-box-item, .left .tech-square-item {display: block;height: 34px; line-height: 34px;margin-left: -10px;margin-bottom: .8px;padding-left: 10px;border-radius: 5px;}
.left .router-box-item:hover, .left .tech-square-item:hover {background: rgba(0,154,97,0.08);}
.left .tech-square-item {margin-bottom: 1px;}
.left .tech-square-item > .icon {margin-right: 11px;}
.left .tech-square-item img{width: 16px;margin-right: 9px;}
.left .tech-square-title {position: relative;padding-top: 2px;color: #757575;font-size: 14px;}
.left .tech-square-title::after {position: absolute;top: 10px;rigth: 0;content: " "; width: 95px;margin-left: 5px;border-bottom: 1px solid #eee;}
.left .router-box-item.active, .left .tech-square-item.active {background: #009a61;}
.left .router-box-item.active span, .left .tech-square-item.active span {color: #fff;font-weight: 400; }
.left .tech-square-item.active img {filter: brightness(0) invert(100%);}
/* middle */
.middle {min-height: 700px;}
.carousel-wrapper {position: relative;width: 100%;height: 170px;overflow: hidden;}
.carousel-wrapper .carousel-wrapper-item {position: absolute;top: 0;left: 100%;width: 100%;}
.carousel-wrapper .carousel-wrapper-item.active {left: 0;}
.carousel-wrapper .carousel-wrapper-item.next {left: 100%;}
.carousel-wrapper .carousel-wrapper-item.prev {left: -80%;}
.carousel-wrapper .carousel-wrapper-item.right {transition: 0.6s;}
.carousel-wrapper .carousel-wrapper-item.left {transition: 0.5s;}
.carousel-wrapper .carousel-wrapper-item.next.right {left: 0;}
.carousel-wrapper .carousel-wrapper-item.prev.left {left: 0;}
.carousel-wrapper .carousel-wrapper-item.active.right {left: -100%;}
.carousel-wrapper .carousel-wrapper-item.active.left {left: 100%;}
.carousel-wrapper .mask {position: absolute; top:0; left: 0;background: linear-gradient(to bottom,rgba(255,255,255,.1), rgba(0,0,0,.5));z-index: 2;}
.carousel-wrapper .carousel-dot-list {position: absolute;bottom: 15px;right: 20px;z-index: 4;}
.carousel-wrapper .carousel-dot-list .carousel-dot {display: inline-block;width: 12px; height: 12px;margin-left: 10px;border: 1px solid #fff;border-radius: 50%;cursor: pointer;}
.carousel-wrapper .carousel-dot-list .carousel-dot.active {background-color: #fff;}

.carousel-wrapper img{width: 100%;height: 170px;border-radius: 5px;}
.carousel-caption {position: absolute;z-index: 3;left: 20px;right: 0;bottom: 0;text-align: left;}
.carousel-caption h3 {margin: 10px 0;font-weight: 400;color: #fff;}
.carousel-caption h5 {margin: 10px 0;font-weight: 400;color: #9e9e9e;font-size: 14px;}
.feed-option {margin: 16px 0 0;padding-bottom: 10px;border-bottom: 1px solid #eee;}
.feed-option label {font-size: 14px;margin-right: 10px;line-height: 19px;}
.feed-option label input {vertical-align: 1px;margin-right: 5px;}
.feed-option small{margin-left: 5px;padding-left: 5px;border-left: 1px solid #eee;font-size: 12px;}
.feed-option button {font-size: 12px;margin-top: -2px;border: 1px solid #ccc;padding: 0 7px;color: #757575;}
.new-content {margin-top: 15px;}
.news-list .news-list-item {padding: 15px 0 15px;overflow: hidden;}
.news-list .news-list-title {margin: 6px 0 2px;}
.news-list .news-list-item h4 {display: inline-block;line-height: 28px;font-weight: 400;}
.news-list .news-list-item h4 a {color: #000;}
.news-list .news-list-item h4 a:hover {color: #009A61;text-decoration: underline;}
.news-list .news-list-item h4 > .icon {color: #009A61;}
.news-list .news-list-item .content p{line-height: 1.5;overflow: hidden;margin-bottom: 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size: 13px;}
.news-list .news-list-item .news-img {float: right;margin-top: 10px;}
.news-list .news-list-item .news-img img {width: 80px; height: 60px;}
.news-list .news-list-item .news-item-meta {margin-top: 14px;}
.news-list .news-list-item .news-item-meta > .icon {margin-right: 5px;color: #9E9E9E;}
.news-list .news-list-item .news-item-meta .votes-operation {cursor: pointer;}
.news-list .news-list-item .news-item-meta .votes-operation:hover > .icon {color: #009a61;}
.news-list .news-list-item .votes-word:hover {text-decoration: underline;cursor: pointer;}
.news-list .news-list-item .author {font-size: 13px;}
.news-list .news-list-item .icon-good {display:inline-block;height: 24px; width: 24px;line-height: 24px;text-align: center;background-color: rgba(1,126,102,0.08);border-radius: 50%;color: #009a61;}
.news-list .news-list-item .icon-good:hover {background-color: #009a61;color: #fff;}
.news-list .news-list-item .icon-good.active {background-color: #009a61;color: #fff;}
.news-list .news-list-item .votes-count {color: #009a61;}
.news-list .news-list-item .author a {color: #666;}
.news-list .news-list-item .author a:hover {text-decoration: underline;}
.new-content a {display: block;height: 42px;line-height: 42px;border: 1px solid #bce8f1;border-radius: 5px;background: #d9edf7;color: #31708f;text-align: center;}
.new-content a:hover {border-color: #31708f;}
.news-list-footer a {padding: 5px 14px;margin: 20px 0;background-color: #fff;border-radius: 20px;border-color: #ddd;color: #009A61;font-size: 14px;font-weight: 300;}
.news-list-footer a:hover {background-color: #eee;}

/* right */

.advert {width: 255px;margin-bottom: 23px;font-size: 14px;}
.advert a {font-size: 12px;color: #9E9E9E;}
.sf-live-recommend {background: #fafafa; padding: 15px 0 10px 15px;overflow: hidden;}
.sf-live-recommend .live-recommend-header a {color: #009A61; font-size: 16px;}
.sf-live-recommend .live-recommend-wrapper {position: relative;height: 202px;margin-top: 10px;}
.sf-live-recommend .live-recommend-wrapper .live-recommend-detail {position: absolute;width: 2000px;top: 0;left: -424px;}
.sf-live-recommend .live-recommend-wrapper .live-recommend-detail .live-recommend-detail-item {width: 192px;height: 212px;vertical-align: top}
.sf-live-recommend .live-recommend-wrapper a {color: #000;}
.sf-live-recommend .live-recommend-wrapper a:hover {color: #009A61;text-decoration: underline;}
.live-recommend-detail-item{display: inline-block;line-height: 16px;margin-right: 20px;font-size: 12px; color: #999;}
.live-recommend-detail-item img {margin-bottom: 10px;width: 100%;}
.live-recommend-detail-item a {display: inline-block; margin-bottom: 5px;line-height: 16px;}

.activity-recommend .activity-title {margin-bottom: 10px;font-size: 16px;}
.activity-recommend .activity-title a {color: #009A61;font-weight: 300;}
.activity-recommend .activity-title a:hover {text-decoration: underline;}
.activity-recommend .activity-recommend-item {padding: 10px 0;border-bottom: 1px solid #eee;}
.activity-recommend .activity-recommend-item:last-child {border: none;}
.activity-recommend .activity-recommend-item a {color: #000;}
.activity-recommend .activity-recommend-item a:hover {color: #009A61;text-decoration: underline;}
.activity-recommend .activity-date {width: 32px;margin: 5px 10px 0 0;font-size: 14px;text-align: center;}
.activity-recommend .activity-date .activity-date-wrapper {background: rgb(200, 233, 222);}
.activity-recommend .activity-date .activity-date-up {color: #017E66;font-size: 12px;font-weight: 100;transform:scale(0.833);}
.activity-recommend .activity-date .activity-date-down {background: #EBF7F3;color: #017E66;}
.activity-recommend .activity-recommend-item span {font-size: 12px;}


/* page */
.sf-main .votes-operation-bar {position: fixed;top: 162px;left: 85px;width: 40px;text-align: center;}
.sf-main .votes-operation-bar .icon-good {height: 44px;width: 40px;line-height: 44px;border: 1px solid #757575;}
.sf-main .votes-operation-bar .icon-flag {height: 44px;width: 40px;line-height: 44px;}
.sf-main .votes-operation-bar .icon {font-size: 18px;margin-bottom: 5px;border-radius: 5px;}
.sf-main .votes-operation-bar .icon-sn-weixin {position: relative;}
.sf-main .votes-operation-bar .icon-sn-weixin:hover .weixin-box {display: block;}
.sf-main .votes-operation-bar .icon-sn-weixin .weixin-box {position: absolute;left: 55px;bottom: -50px;display: none;}
.sf-main .votes-operation-bar .icon-sn-weixin .weixin-box .weixin2wm-box {position: relative;padding: 10px;background-color: #fff;box-shadow: 0 0 4px 0 rgba(0,0,0,1);border: 1px solid #eee;}
.sf-main .votes-operation-bar .icon-sn-weixin .weixin-box .weixin2wm-box .weixin2wm-triangle {
	position: absolute;
	top: 61px;
	left: -30px;
	border-top: 15px solid transparent;
	border-right: 15px solid #fff;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
}
.sf-main .votes-operation-bar .icon-sn-weixin .weixin-box .weixin2wm-box .weixin2wm-triangle-bg {
	position: absolute;
	top: 60px;
	left: -32px;
	border-top: 16px solid transparent;
	border-right: 16px solid #000;
	border-bottom: 16px solid transparent;
	border-left: 16px solid transparent;
}


/* AWS */
.mask {position: fixed;top: 0px;left: 0px;bottom: 0px;right: 0px;overflow: hidden;padding-top: 30px;background-color: rgba(0,0,0,.5);z-index: 99;}
.mask .mod {width: 600px;margin: 0 auto;border-radius: 5px;overflow: hidden;background-color: #fff;}
.mask .mod .mod-head {padding: 20px;background-color: #f3f3f3;border-bottom: 1px solid #e5e5e5;}
.mask .mod .mod-head .icon-delete {cursor: pointer;}
.mask .mod .mod-body {padding: 20px;}
.mask .mod .mod-body label {font-size: 14px;}
.mask .mod .mod-body .login-wrap {padding: 0 125px;}
.mask .mod .mod-body .more-login-area {position: relative;border-bottom: 1px solid #eee;margin: 30px 0;}
.mask .mod .mod-body .more-login-words {position: absolute;top: -10px;left: calc(50% - 51px);padding: 0 10px;z-index: 2;background-color: #fff;}
.mask .mod .mod-body .widget-login a {display: inline-block;}
.mask .mod .mod-body .mark-title {font-size: 14px;}
.mask .mod .mod-footer {padding: 20px;} 
#mark .mod .mod-head .icon-delete {font-size: 12px;}

/* page */
.advert-flxed {width: 255px; top: 10px;padding-bottom: 25px;z-index: 2;}
.advert-flxed img {width: 100%}
.interesting-article {padding-top: 25px;margin-bottom: 30px;border-top: 1px solid #eee;}
.author-info .author-img {border-radius: 50%;float: left;}
.author-info .content {float: left;margin-left: 10px;font-size: 14px;font-weight: 300;}
.author-info .content a {margin-right: 10px;color: #009A61;}
.author-info .content button {height: 22px;padding: 0 5px;font-size: 12px;}
.author-info .content .dot {padding: 0 5px;}
.article-title h1 {margin: 15px 0 20px;line-height: 48px;}
.blog-type-common .tags .tagPopup {display: inline-block; padding: 0 5px;margin-left: 5px;background-color: rgba(1,126,102,0.08); font-size: 13px;color: #017E66;}
.blog-type-common::before {content: '原';float: left;padding:0 6px;margin-right: 10px;border-radius: 50%;background-color: rgba(242,174,67,0.25);color: #F2AE43;font-size: 13px;}
.blog-type-common .tags .tagPopup:hover {background-color: #017E66; color: #fff;}
.article-content {margin: 60px 0 0 0;}
.article-content p {line-height: 1.8;margin: 1.5em 0;font-size: 15px;color: #333;font-weight: 350;}
.article-content b{line-height: 1.8;margin: 1.5em 0;font-size: 15px;color: #333;}
.article-content p:frist-child {margin-top: 0;}
.article-content h1 {padding-bottom: 15px;margin-top: 1.5em; border-bottom: 1px solid #eee;}
.article-content ul {margin: 1.5em 0 1.5em 3em;font-size: 15px;list-style-type: disc;}
.article-content ul li {line-height: 1.8;margin: 5px 0;}

/*.article-content pre {padding: 20px;font-size: 15px;background-color: rgb(246, 246, 246);}*/
.article-content h2 {padding-bottom: 15px;margin-top: 1.5em; border-bottom: 1px solid #eee;}
.article-content .img-wrap {text-align: center;}
.article-operation {margin: 15px 0;}
.article-operation .icon-sn-more {float: right;margin-left: 10px;cursor: pointer;}
.article-grid li {margin-bottom: 15px;}
.article-grid .titleOnly {color: #009A61;}
.article-grid .titleOnly div {display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.article-grid .titleOnly span {font-size: 12px;color: #9B9B9B;}
/*.article-operation .icon*/
.article-menu {position: relative; width: 255px;padding-left: 15px;border-left: 1px solid #eee;top: 10px;background-color: #fff;z-index: 4;}
.article-menu ul {position: relative; padding-left: 20px;list-style-type: square;}
.article-menu ul li {font-size: 14px;font-weight: 400;}
.article-menu ul li.active {color: #009a61;}
.article-menu ul li.active a {color: #009a61;}
.article-menu ul li a {display: block;padding: 5px 0;color: #000;}
.article-menu ul li a:hover {color: #004E31;text-decoration: underline; }
.highlight-title {display: block;position: absolute;right: 0;left: 0;margin-left: -15px;border-left: 4px solid #017E66;background-color: #f3f3f3;z-index: -1;}
.article-good, .article-mark {margin: 0 8px;}
.article-good.btn-lg .article-mark.btn-lg ,.article-reward.btn-lg{padding: 10px 16px;}
.article-good span, .article-mark span , .article-reward span {font-size: 18px;}
.article-good .count, .article-mark .count {padding-left: 10px;margin-left: 10px;border-left: 1px solid rgba(0,0,0,.1);}
.article-mark .mark {background-color: initial;}
.article-mark {padding: 10px 16px;}
.article-reward {width: 200px;}
.comments-stat h5 {line-height: 24px;}
.comments-stat h5 .btn {padding: 1px 5px;font-size: 12px;}
.comments-stat h5 .btn.active {background-color: rgba(0,0,0,.1);}
.comments-stat .comments-box {border-top: 1px solid #ccc;border-bottom: 1px solid #ccc; padding: 15px 20px;background-color: rgb(250, 250, 250);}
.comments-stat .comments-box img {width: 32px;border-radius: 50%;}
.comments-stat .comments-box textarea {margin-left: 22px;font-size: 14px;}
.ad-detail {height: 90px;width: 100%; background: url('../img/ad-detail-bg.svg');}
.mark-file {position: relative; line-height: 28px;margin: 0 0 5px 20px;padding: 5px 10px;font-size: 14px;background-color: #f3f3f3;cursor: pointer;}
.mark-file input {position: absolute;left: -20px;top: 14px;}
.mark-file .text-muted {display: inline-block;padding: 0 5px;line-height: 20px;border-radius: 5px;background-color: #777;color: #fff !important;font-size: 12px;}
